* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
    
}

header {
    background-color: skyblue;
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

button{
    background-color: transparent;
    border: 1px solid;
    border-radius: 2px;
    padding: 3px;

}

.search-box {
    background-color: floralwhite;
    border: 1px solid;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;  
    
}
.search-history{
    display: flex;
    font-size: 10px;
    
}

img{
    max-width: 15%;
    max-height: 15%;
}

.currentweather {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.forecast{
    list-style-type: none;
    display: flex;
    flex-direction: column
    
}

li{

}




